* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    box-sizing: border-box;
    background-color: #FCFCFC;
}

.freeshelf {
    padding: 5px;
    background-color: #3E276D;
    color: #F1FFE7;
}

.book {
    border-top: solid 2px;
    padding: 5px;
}

.button {
    border: transparent;
    background-color: lightgray;
    padding: 3px;
    margin-left: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    display: inline-block;
}

.button-selected {
    border: solid 1px;
    background-color: #5E3575;
    color: #F1FFE7;
    padding: 3px;
    margin-left: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    display: inline-block;
}

.sort {
    display: inline-block;
    margin-left: 8px;
}

.category {
    font-size: .75rem;
    margin-top: 5px;
    margin-bottom:5px;
}

.description {
    margin-bottom: 10px;
    margin-top: 10px;
}

.info {
    font-size: .75rem;
}

.added {
    font-size: .75rem;
}

.title {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.book-image {
    height: 100px;
    margin-left: 10px;
}

.flexbox {
    display: flex;
    align-items: center;
}

.logout {
    display: inline-block;
    float: right;
    margin: 5px;
}

.link {
    color: inherit;
    text-decoration: inherit;
    border: solid 1px;
    padding: 1px;
    margin: 1px;
    width: fit-content;
    border-radius: 3px;
    background-color: white;
    font-size: .75rem;
}

a:hover {
    background-color: #99B2DD;
}