{% extends 'base.html' %}
{% block content %}
<h1>Freeshelf</h1>
<div>
    <p>SORT:</p>
    <button class='button' id='alphabetical'>Alphabetical</button>
    <button class='button' id='reverse-alphabetical'>Reverse Alphabetical</button>
    <button class='button' id='date-added'>Date Added</button>
    <button class='button' id='reverse-date-added'>Reverse Date Added</button>
<div></div>
{% for book in books %}
<div class="book">
    <h3 class="title">{{ book.title }}</h3>
    <h4 class="author">{{ book.author }}</h4>
    <p class="description">{{ book.description }}</p>
    <p>To learn more about this book visit <a class="url" href="{{ book.url }}"> {{ book.url }}</a></p>
    <p class='category'>{{ book.category}}</p>
    <p class="added">Added: {{book.created_at}}</p>
</div>
{% endfor %}
{% endblock content %}